@model Merovingie.Models.Game.GameDescriptorModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Create a new game</h4>
    <hr />
    <div class="row">
        <div class="col">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <h2>Resources</h2>
                <div class="form-row">
                    @foreach (var resource in Model.Resources)
                    {
                        <div class="col">
                            <div class="form-group mb-2">
                                @Html.LabelFor(m => m.Resources[resource.Key])
                                @Html.TextBoxFor(m => m.Resources[resource.Key], new { @class = "form-control" })
                            </div>
                        </div>
                    }
                </div>
                <h2>Workers</h2>
                <div class="form-group">
                    @Html.LabelFor(m => m.Workers)
                    @Html.TextBoxFor(m => m.Workers, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Farms)
                    @Html.TextBoxFor(m => m.Farms, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Load" asp-controller="Game">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
