@model IList<AoC.Common.Network.Models.GameFileDetailModel>

@{
    ViewData["Title"] = "My Games";
}



<h1 class="title-medieval">My games</h1>

<p>
    <a asp-action="Create" class="btn btn-warning">New game</a>
</p>
<table class="table">
    <tbody>
        @{
            if (Model == null || Model.Count == 0)
            {
                <tr>
                    <td>
                        You have created no games yet
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="btn-group upscale-hover" role="group" style="width:100%">
                                <a asp-action="Load" asp-controller="Game" asp-route-gamePathToLoad="@item.name" method="get" class="btn btn-primary m-anim-top-container" style="width:80%">

                                    @*href="~/gdevelop/index.html"*@
                                    <section class="m-anim-text">
                                        <span class="m-anim-label">@item.name</span>
                                        <small>@item.creationDate</small>
                                        <small><i>@item.path</i></small>
                                    </section>
                                    <span class="h2 m-anim-hovertext">Jouer!</span>
                                </a>
                                @Html.ActionLink("Delete", "Delete", new { fileName = item.name }, new { @class = "btn btn-danger" })
                            </div>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>


