@model IList<Merovingie.Models.GameFileDetailModel>

@{
    ViewData["Title"] = "My Games";
}

<h2>My games</h2>

<p>
    <a asp-action="Create" class="btn btn-warning">New game</a>
</p>
<table class="table">
    <tbody>
        @{
            if (Model == null || Model.Count == 0)
            {
                <tr>
                    <td>
                        You have created no games yet
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span class="btn-group" role="group" style="width:100%">
                                <a asp-action="Game" asp-route-fileName="@item.Name" class="btn btn-primary" style="width:80%">
                                    <h2>@item.Name</h2>
                                    <small>@item.CreationDate</small>
                                    <small><i>@item.Path</i></small>
                                </a>
                                @Html.ActionLink("Delete", "Delete", new { fileName = item.Name }, new { @class = "btn btn-danger" } )
                            </span>
                            
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>
